* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #171c3c;
}

.card {
    width: 200px;
    height: 300px;
    position: relative;
    background-color: #ed4848;
}

.card span {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 7rem;
    margin-top: -56px;
    margin-left: -56px;
    color: white;
    cursor: pointer;
}

.card:hover {
    transition: all 300ms;
    background-color: orange;
}

.card span:nth-of-type(2){
    transform: scale(0);
}
.card:hover span:nth-of-type(2){
    transform: scale(1);
}
.card:hover span:nth-child(1){
    transform: scale(0);
}